<nav class="navbar">
  <div class="navbar__left">
    <div class="logo">
      <div class="logo-icon">SM</div>
      <div class="logo-text">
        <h1>Sumak Market</h1>
        <p>Artesanías Auténticas</p>
      </div>
    </div>
    <div class="search">
      <input type="text" placeholder="Buscar artesanías..." />
    </div>
    <button class="explore-btn">Explorar</button>
  </div>

  <div class="navbar__right">
    <a routerLink="/">Explorar</a>
    <a routerLink="/planes">Planes</a>
    <a routerLink="/para-artesanos">Para Artesanos</a>
    <a routerLink="/nosotros">Nosotros</a>
    <a routerLink="/soporte">Soporte</a>
    <i class="bi bi-person"></i>
    <i class="bi bi-cart"></i>
  </div>

</nav>
